p {
    font-size: 13px;
    font-family: input-mono,monospace;
    text-align: center;
}

ul, li {
    font-size: 13px;
    font-family: input-mono,monospace;
}

h1, h2 {
    color: white;
    padding-top: 10px;
    font-family: input-mono,monospace;
    font-weight: 700;
    font-style: normal;

}
 
h3 {
    font-weight: 500;
    font-family: input-mono,monospace;
    text-align: center;
}

body {
    background-color: rgb(14, 14, 14);
}

.header {
    display: none;
}

/*HomePage*/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 1100px;
}

.link {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    font-family: input-mono,monospace;
    font-weight: 700;
    font-style: normal;

}

.socials {
    display: flex;
    margin: auto;
    max-width: 500px;
    padding-top: 30px;
}

.socials-button {
    background-color:rgb(14, 14, 14);
    color: white;
    border-color: white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-family: input-mono, monospace;
}

.blurb {
    display: flex;
    color: white;
    flex-direction: column;
    max-width: 600px;
    padding-top: 220px;
    padding-bottom: 300px;
}

.ztmy-image {
    margin-top: 200px;
    width: 250%;
}

.credits {
    color: white;
    margin: none;
    padding: none;
}
/*About Page*/
.abstract-image {
    margin-top: 250px;
}

.tree-hug {
    width: 140px;
    height: auto;
    position: absolute;
    margin-top: 345px;
}

.about-me-title {
    margin-top: 300px;
}

.about-blurb {
    max-width: 600px;
    color: white;
    font-family: input-mono, monospace;
}

.blank {
    margin-bottom: 300px;
}

/*Project Title*/

.project-title {
    font-size: 60px;
    margin-top: 100px;
}

.project-grid {
    display: flex;
    margin: auto;
    
}

.project-image {
    
    max-height: 400px;
    margin: none;

}

.project-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 800px;
    background-color:rgb(14,14,14);
    font-family: input-mono, monospace;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.grid-content {
    width: 300px;
    margin: auto;
}
.spacer-para {
    padding-bottom: 30px;
}
.github-link {
    text-decoration: none;
    color: white;
    padding-top: 40px;
    font-family: input-mono,monospace;
    font-weight: 100;
}

/*MiscPage*/

.misc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1400px 1400px;
}


.misc-grid-element2 {
    background-color: rgb(14, 14, 14);
    color: rgb(14, 14, 14);
}
.misc-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: url(#wavy) hue-rotate(275deg);
    
}
.misc-blurb {
    max-width: 400px;
    color: white;
}

.misc-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 400px;
}